@charset "utf-8";
@import url('./common.css');

@import url('https://fonts.googleapis.com/css2? family= Merriweather:ital,wght@1,700;1,900 & family= PT+Serif:ital,wght@1,400;1,700 & display=swap' );
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Merriweather:ital,wght@1,700;1,900&family=Nanum+Gothic:wght@400;700;800&display=swap');

.img{
    position: relative;
}

.img > p >img {
    width: 100%;
}

.img>div>i{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);

    /* display: flex; */
    justify-content: center;
    align-items: center; /*가운데 정렬하는 방법*/
    text-align: center;

    font-size: 70px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

/*header*/

.header{
    width: 100%;
    border-bottom: 1px solid #ddd;
    position: sticky; top:0;
    z-index: 999;
}

.header>.a{
    width: 1200px; height: 100px;
    margin: 0 auto;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.header>.a>a{
    width: 100%;
    font-size: 17px;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 35px  20px;
}

.header>.a>a:hover{
    font-weight: bold;
    border-bottom: 4px solid #D91226;
}

/*nav*/
.nav{
    padding: 50px 0 ;
    width: 1200px; margin: 0 auto;
    display: flex;
}

.nav>figure:hover>div{
    display: block;
}

.nav>figure>a{
}

.nav>figure>a:nth-of-type(2){
    font-weight: bold;
    color: #D91226;
}

/*visual*/
.visual{
    width: 1200px; margin: 0 auto;
}

.visual>h1{
    font-size: 70px; margin-bottom: 200px;
    display: flex;
    font-family: 'Gowun Dodum', sans-serif;
    color: #302C2D;

    transform: translateY(0%);
    animation: h2 1s forwards;
}

@keyframes h2{
    100%{transform: translateY(100%);}
}

.visual>h1>span{
    font-size: 70px;
    display: flex;
    font-family: 'Gowun Dodum', sans-serif;
    color:#D91226;
}

.main>.main-txt{
    margin: 50px 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main>.main-txt>h2{
    font-weight: normal;
    font-size: 32px;
}

.main>.main-txt>h2>b{
    font-size: 50px;
}

.main>.main-txt>p{
    font-weight: 200;
    margin: 15px 0 50px 0;
    font-size: 20px;
}

.main>.main-2{
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main>.main-2>.txt-1{
    transform: translateY(-50%);
}

.main>.main-2>.txt-1>h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.main>.main-2>.txt-1>h3>span{
    font-size: 28px;
    color: #D91226;
}

.main>.main-2>.txt-1>h3::after{
    content: '';
    display: block; width: 120%; 
    border-bottom: 1px solid #000000;
    margin: 5px auto;
}

.main>.main-2>.txt-1>p{
    font-size: 14px;
}

.main>.main-2>img{
    padding: 30px;
    z-index: 1;
}

.main>.main-2>.txt-2{
    text-align: right;
    transform: translateY(50%);
}

.main>.main-2>.txt-2>h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.main>.main-2>.txt-2>h3>span{
    font-size: 28px;
    color: #D91226;
}

.main>.main-2>.txt-2>h3::after{
    content: '';
    display: block; width: 125%; 
    border-bottom: 1px solid #000000;
    margin: 5px auto;
    transform: translateX(-20%);
}

.main>.main-2>.txt-2>p{
    font-size: 14px;
}

.main>p{
    font-size: 18px; font-weight: 300;
    text-align: center;
    margin-top: 100px; padding: 50px;
    background-color: rgba(184, 184, 184, 0.1);
    border-radius: 30px;
}

.main>p>span{
    font-weight: 500;
    font-size: 18px;
    color: #D91226;
}

.nav-2{
    padding: 200px 0 ;
    width: 1440px; margin: 0 auto;
    display: flex;
}

.nav-2>figure:hover>div{
    display: block;
}

.nav-2>figure>a{
}

.nav-2>figure>a:nth-of-type(3){
    font-weight: bold;
    color: #D91226;
}

/*history*/
.history{
    width: 1200px; margin: 0 auto;
}

.history .title{
    transform: translateY(0%);
    animation: h2 1s forwards;
    margin-bottom: 300px;
}

@keyframes h2{
    100%{transform: translateY(100%);}
}


.history .title>h1{
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 75px; margin: 0;
}


.history .title>h1>span{
    font-size: 70px;
    display: flex;
    font-family: 'Gowun Dodum', sans-serif;
    color:#D91226;
}

.history .title>p{
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(66, 66, 66); 
}

dl{
    position: relative;
    margin: 100px 0 ; padding: 0;
}

dl::after{
    content: '';
    height: 93.5%; width: 2px;
    background-color: #000000;
    position: absolute;
    left: 50%; top:150px;
}

dl>dt{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin: 0; padding: 0;
}

dl>dt:nth-of-type(odd)>.txt>b::after{
    content:'●';
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    width:3%;
    position:absolute;
    left: 211%; bottom:-35%;

    z-index: 1;
}

dl>dt:nth-of-type(even){
    justify-content: flex-end;
}

dl>dt:nth-of-type(even)>.txt>b::before{
    content:'●';
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    width:3%;
    position:absolute;
    right: 233%; bottom:-35%;

    z-index: 1;
}

dl>dt:nth-of-type(1)>.txt>b::after{
    content:'●';
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    width:3%;
    position:absolute;
    left: 202%; bottom:-35%;

    z-index: 1;
}

dl>dt>.txt{
    text-align: center;
    padding: 50px;
}

dl>dt>.txt>b{
    font-family: 'PT Serif', serif; ;
    font-size: 100px;
    font-style: italic;
    position: relative;
}


dl>dt>.txt>p{
    font-size: 20px;
}

dl>dd{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;

    margin: 0; padding: 0;
}

dl>dd:nth-of-type(even){
    justify-content: flex-start;
}

dl>dd>p:nth-child(1){
    font-family: 'Merriweather', serif;
    font-weight: 900; font-style: italic;
    font-size: 250px;
    color: rgba(110, 110, 110, 0.1);


    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

dl>dd>p:nth-child(2){
    width: 30%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-end;
}

dl>dd>p:nth-child(2)::after{
    content:'';
    border-bottom:2px solid #000;
    width:30%;
    position:absolute;
    right:20%; top:50%;
    z-index: -1;
}

dl>dd:nth-of-type(even)>p:nth-child(2)::after{
    content:'';
    border-bottom:2px solid rgb(0, 0, 0);
    width:30%;
    position:absolute;
    left:20%; top:50%;
    z-index: -1;
}

.history>p{
    font-size: 20px; font-weight: 300;
    text-align: center;
    margin: 100px 0; padding: 50px;
    background-color: rgba(184, 184, 184, 0.1);
    border-radius: 30px;
}


/*bi*/
.bi{
    width: 1200px; margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bi::before{
    content: '';
    display: block; width: 100%; 
    transform: translateY(100%);
    border-bottom: 1px solid #ddd;
}

.bi>.img>h1{
    font-size: 70px; margin-bottom: 200px;
    display: flex;
    font-family: 'Gowun Dodum', sans-serif;
    color: #302C2D;
    transform: translateY(0%);
    animation: h2 1s forwards;
}

@keyframes h2{
    100%{transform: translateY(100%);}
}


.bi>.img>h1>span{
    font-size: 70px; 
    display: flex;
    font-family: 'Gowun Dodum', sans-serif;
    color:#D91226;
}

.bi>.logo{
    width: 100%;
    margin: 0 auto;
}

.bi>.logo>.btn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 60px;
    padding: 0 30px;
}

.bi>.logo>.btn>h4{
    font-size: 30px;
}

.bi>.logo>.btn>figure{
    background-color: #eee;
    border-radius: 10px;
    padding: 8px 30px;
}
.bi>.logo>.btn>figure>a>img{
    width: 25px;

}

.bi>.logo>.btn>figure>a{

}

.bi>.logo>p{
    padding: 30px;
    margin-bottom: 60px;
}

.bi>.logo::after{
    content: '';
    display: block; width: 100%; 
    transform: translateY(100%);
    border-bottom: 1px solid #ddd;
}

/*logo2*/
.logo2{
    width: 1200px; margin: 0 auto;
}

.logo2>h4{
    font-size: 20px;
    padding: 30px;
}

.logo2>p{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.logo2::after{
    content: '';
    display: block; width: 100%; 
    transform: translateY(0%);
    border-bottom: 1px solid #ddd;
}

/*color*/
.color{
    width: 1200px; margin: 0 auto;
    padding: 30px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.color>.color-txt{
}

.color>.color-txt>h4{
    font-size: 20px;
    margin-bottom: 25px;
}

/*top*/
.top > a{
    display:scroll;
    position:fixed;
    bottom:50px; right:50px;
    transition: 2s;
    font-size: 0;
    background-image: url("../img/bi_arrow-up.png");
    width: 50px; height: 50px;
}



/* font-family: 'Merriweather', serif; -큰거
글꼴 패밀리: 'PT Serif', serif; -작은거*/