@charset "utf-8";
@import url('./common.css');

/*main-1*/

::-webkit-scrollbar{
    display: none;
}

main{
    position: fixed;
    width: 100%; height: 100%;
}

.visual{
    overflow:hidden;
    position:relative;
    left: 0; top:0;
    width: 100%; 
    transition: 1s;
}

.visual .main-1{
    height:100vh;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.visual .main-1>img{
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide{
    width: 100%;
    position: relative;
                
    /* 배너, 버튼, 인디게이터 모든 요소들의 최상위 부모 */
}

.slide .slick-list{  
/* 배너들의 상위요소 */
    overflow:hidden;  
}

.slide .slick-track{
/* 배너 그룹 및 translateX값으로 이동(스크립트) */
}

.slide .slick-track::after{
    content:'';
    display:block;
    clear: both;
}

.slide .slick-slide{
/* 개별 배너 */
margin:0; 
width:100%;
float:left;
}

.slide .slick-slide  img{width:100%;}
    
/* next prev */           
.slide .slick-prev{
    position: absolute;
    left:0; top:50%;
    z-index: 2;
}

.slide .slick-next{
    position: absolute;
    right:0; top:50%;
    z-index: 2;
}
    
/* dots */
    .slide .slick-dots{
    position: absolute;
    left:0; bottom:5%;
    width:100%;
    text-align: center;
    
    list-style-type: none;
    padding:0;
}

.slide .slick-dots li{display: inline-block;}
.slide .slick-dots li button{
    width:12px; height:12px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    border:none;
    font-size:0;
    margin:0 10px;
}

.slide .slick-dots li.slick-active button{
    background-color: #B5121B;
}

/*main-2*/
.main-2{
    margin:0 auto;
    padding:150px 200px 60px 200px;

    height: 100vh;
    position: relative;
    text-align: center;
}

.main-2>h2{
    font-family: 'GmarketSansMedium';
    font-size: 42px;
}

.main-2>h2::after{
    content: '';
    display: block; width: 60px; 
    border-bottom: 3px solid #A67B5B;
    margin: 8px auto;
}

.main-2>p{
    padding: 20px 0 100px;
    font-size: 18px;
}

.main-2>ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-2>ul>li{
    position: relative;
}

.main-2>ul>li>figure{ 
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(74 74 74 / 24%);
}

.main-2>ul>li:hover>figure::after{ 
    content: '';
    position: absolute; left: 3%; top:2.5%;
    margin: 0 auto;
    width: 90%; height: 80%;
    border: 5px solid rgba(255, 255, 255,0.8);
}

.main-2>ul>li>figure>img{
    transition: 0.5s;
}

.main-2>ul>li>figure:hover>img{
    transform: scale(1.1);
}

.main-2>ul>li>.txt-s1{
    width: 50%;
    margin: 0 auto;
    border: 1px solid #A67B5B;
    border-radius: 20px;
    transition: 0.9s;
}

.main-2>ul>li:hover>.txt-s1{
    background-color: #A67B5B;

}

.main-2>ul>li>.txt-s1>a{
    font-size: 15px;
    color: #A67B5B;
}

.main-2>ul>li:hover>.txt-s1>a{
    color: rgb(255, 255, 255);
    border-radius: 20px;
}


/*main-3*/
.main-3{
    margin:0 auto;
    width: 100%; height: 100vh;
    position: relative;
    overflow: hidden;
}

.main-3>.img>p{
    width: 100%;
    position: absolute;
    left:-40%; top:0%;
    transform: skewX(20deg);
    z-index: 1;
}

.main-3>.img>.rolling{
    transform-style: preserve-3d;
}

.main-3>.img>.rolling:hover{
    transition: 0.5s;
}

.main-3>.img>.rolling>p{
    transform: translateX(30%) translateY(-10%);
    opacity: 0.8;
}


.main-3>.txt-s1{
    width: 50%; height: 50%;
    
    position: absolute;
    left:15%; top:30%;
    transform: translate(0%,0%);
    z-index: 6;

}

.main-3>.txt-s1>h2{
    font-size: 55px;
    color: #111;
    letter-spacing: -1.5px;
    font-weight: 500;
    line-height: 49px;
}

.main-3>.txt-s1>h2>span{
    font-family: 'GmarketSansMedium';
    font-size: 72px;
    color: #B5121B;
}

.main-3>.txt-s1>p{
    padding: 50px 0 50px;
    font-size: 30px;
    color: #A67B5B;
}

.main-3>.txt-s1>p::before{
    content: '';
    display: block; width: 460px; 
    border-top: 1px solid #A67B5B;
    margin: 6px;
}

.main-3>.txt-s1>p::after{
    content: '';
    display: block; width: 460px; 
    border-bottom: 1px solid #A67B5B;
    margin: 6px;
}

.main-3>.txt-s1>a{
    border: 1px solid #B5121B;
    box-shadow: 5px 5px 5px rgb(74 74 74 / 24%);
    padding: 20px 50px; margin-right: 20px;
    color: #B5121B;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
    border-radius: 10px;
}

.main-3>.txt-s1>a:hover{
    background-color: #B5121B;
    color: white;
}

/*main-4*/
.main-4{
    height: 100vh;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}


.main-4>.img>ul{
    width: 80%; 
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}

.main-4>.img>ul>li{
    background-color: #EFEAE3;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgb(74 74 74 / 24%);
    margin: 0 50px;
}

.main-4>.img>ul>li:nth-of-type(2){
    background-color:  #E8D5D2;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgb(74 74 74 / 24%);
    margin: 0 50px;
}

.main-4>.img>ul>li>figure{
    overflow: hidden;
}

.main-4>.img>ul>li>figure>img{
    width: 70%;
    transform: translate(0%,20%);
    transition: 0.6s;
}

.main-4>.img>ul>li>figure:hover>img{
    width: 70%;
    transform: translate(0%,5%);
}

.main-4>.img>ul>li>.txt-s1{
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

.main-4>.img>ul>li>.txt-s1>b{
    font-family: 'GmarketSansMedium';
    font-size: 30px;
}

.main-4>.img>ul>li>.txt-s1>b::before{
    content: '';
    position: absolute; 
    left: 20%; top:0%;
    width: 60%; height: 20%;
    border-bottom: 20px solid rgba(255, 255, 255,0.8);
    z-index: -1;
}

.main-4>.img>ul>li>.txt-s1>p{
    font-weight: 400;
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: -.5px;
}

aside{
    position:fixed; right:3%; top:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

aside > p {
    font-size: 25px;
    font-weight: bold;
    color: #232323;
    padding: 10px 0;
}

aside > a{
    width:4px; height:30px;
    background-color: rgb(218, 218, 218);
    display: block; 
    
}

aside > a.active{
    background-color: #232323;
}
