@charset "utf-8";
@import url('./common.css');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Merriweather:ital,wght@1,700;1,900&family=Nanum+Gothic:wght@400;700;800&display=swap');


.img{
    position: relative;
}

.img > p >img {
    width: 100%;
}

.img>div>i{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);

    /* display: flex; */
    justify-content: center;
    align-items: center; /*가운데 정렬하는 방법*/
    text-align: center;

    font-size: 70px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

/*header*/

.header{
    width: 100%;
    border-bottom: 1px solid #ddd;
    position: sticky; top:0;
    z-index: 999;
}

.header>.a{
    width: 1200px; height: 100px;
    margin: 0 auto;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.header>.a>a{
    width: 100%;
    font-size: 17px;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 35px  20px;
}

.header>.a>a:hover{
    font-weight: bold;
    border-bottom: 4px solid #D91226;
    color: #D91226;
}

/*nav*/
.nav{
    padding: 50px 0 ;
    width: 1200px; margin: 0 auto;
    display: flex;
}

.nav>figure:hover>div{
    display: block;
}

.nav>figure>a{
}

.nav>figure>a:nth-of-type(2){
    font-weight: bold;
    color: #D91226;
}

/*visual*/

.visual{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.visual>h1{
    font-size: 70px; margin-bottom: 200px;
    display: flex;
    font-family: 'Gowun Dodum', sans-serif;
    color: #302C2D;
    transform: translateY(-70%);
    animation: h2 1s forwards;
}

@keyframes h2{
    100%{transform: translateY(0%);}
}

.visual>h1>span{
    font-size: 70px;
    display: flex;
    font-family: 'Gowun Dodum', sans-serif;
    color:#D91226;
}

.visual>.visual-2{
    position: relative;
}

.visual>.visual-2>.txt{
    position: absolute;
    top:30%; left: 50%; 
}

.visual>.visual-2>.txt>h2{
    font-size: 35px;
}

.visual>.visual-2>.txt>h2>span{
    font-size: 35px;
    color: #D91226;
}

.visual>.visual-2>.txt>p{
    font-size: 17px;
    margin: 20px 0;
}

/*icon*/
.icon{
    width: 1200px; margin: 0 auto;
}

.icon>ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    margin: 150px 0;
}

.icon>ul>li{
    width: 30%;
    padding-bottom: 50px;
    border-radius: 50px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.icon>ul>li>figure{
    width: 170px; height: 170px;
    border: 1px solid #444444;
    border-radius: 100px;  box-shadow: 5px 5px 5px rgba(74, 74, 74, 0.55);
    margin-bottom: 20px;

    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon>ul>li>figure>img{

}

.icon>ul>li>p{
    font-size: 18px;
    color: #444444;
    font-weight: bold;
    margin-bottom: 10px;
}

/*crown*/

.crown{
    width: 1200px;  
    margin: 0 auto;
}

.crown>h1{
    font-size: 70px; margin-bottom: 200px;
    display: flex;
    justify-content: center;
    font-family: 'Gowun Dodum', sans-serif;
    color: #302C2D;
    transform: translateY(0%);
    animation: h2 1s forwards;
}

@keyframes h2{
    100%{transform: translateY(100%);}
}


.crown>h1>span{
    font-size: 70px;
    display: flex;
    font-family: 'Gowun Dodum', sans-serif;
    color:#D91226;
}

.crown>.visual{
    width: 1000px; height: 230px;
    margin-bottom: 50px; padding: 30px;
    background-color: #eee; border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.crown>.visual>.img{
    width: 166px; height: 192px;
    display: flex;
    justify-content: center;
    align-items: center; margin: 0 30px 0 30px;
}

.crown>.visual>.txt{
    padding-left: 30px;
}

.crown>.visual>.txt>h3{
    font-size: 30px; 
    color: #A8A8A8;
}

.crown>.visual:nth-of-type(2)>.txt>h3{
    font-size: 30px;
    color: #C2A571;
}

.crown>.visual:nth-of-type(3)>.txt>h3{
    font-size: 30px;
    color: #D91226;
}

.crown>.visual:nth-of-type(4)>.txt>h3{
    font-size: 30px;
    color: #302C2D;
}

.crown>.visual>.txt>h3>span{
    color: #A8A8A8;
    font-weight: 300; margin-left: 10px;
}

.crown>.visual>.txt>p{
    width: 30%;
    background-color: #A8A8A8;
    border-radius: 10px; text-align: center;
    color: white; padding: 4px;
    font-weight: 200; font-size: 12px;
}

.crown>.visual:nth-of-type(4)>.txt>p{
    width: 30%;
    background-color: #A8A8A8;
    border-radius: 10px; text-align: center;
    color: #D91226; padding: 4px;
    font-weight: 300; font-size: 12px;
}

.crown>.visual>.txt>ul{
    padding: 20px 0 0 30px;
}

.crown>.visual>.txt>ul>li{
    list-style:disc;
}

/*note*/
.note{
    width: 1200px; margin: 0 auto;
    padding: 50px 0 ;
    display: flex;
    flex-direction: column;
}

.note>.txt{
    display: flex;
}

.note>.txt>p{
    display: flex;
    align-items: center;
}

.note>.txt>span{
    margin-left: 5px;
    font-weight: bold; font-size: 18px;
}

.note>ul{
    margin: 20px 0 0 20px;
}

.note>ul>li{
    margin-bottom: 10px;
}

/*order*/
.order{
    width: 1200px;  
    margin: 0px auto;
}

.order>h1{
    font-size: 70px; margin-bottom: 200px; 
    display: flex;
    font-family: 'Gowun Dodum', sans-serif;
    color: #302C2D;

    transform: translateY(0%);
    animation: h2 1s forwards;
}

@keyframes h2{
    100%{transform: translateY(100%);}
}


.order>h1>span{
    font-size: 70px;
    display: flex;
    font-family: 'Gowun Dodum', sans-serif;
    color:#D91226;
}

.order>p>img{
    width: 100%;
    margin-bottom: 100px;
}

/* .order::before{
    content: '';
    display: block; width: 100%; 
    transform: translateY(100%);
    border-bottom: 1px solid #eee;
}
 */

/*top*/
.top > a{
    display:scroll;
    position:fixed;
    bottom:50px; right:50px;
    font-size: 0;
    background-image: url("../img/bi_arrow-up-circle-fill.png");
    width: 50px; height: 50px;
}

