@charset "utf-8";
@import url('./common.css');

.img{
    position: relative;
}
.img > p >img {
    width: 100%;
}
.img>div{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img>div>h1{
    font-family: 'GmarketSansBold';
    font-weight: 900;
    font-size: 70px;
    color: #fff;
    margin: 0;
}
.img>div>p{
    font-size: 18px;
    font-weight: 100;
    color: #fff;
}

/*sub-nav*/
.sub-nav{
    height: 4.25rem;
}
.sub-nav .sub-nav-bar{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.sub-nav .sub-nav-bar li {
    height: 100%;
}
.sub-nav .sub-nav-bar li a{
    display: inline-flex;
    align-items: center;
    padding: 0.5em 2em;
    color: #333;
    font-size: 1.3rem;
    height: 100%;
}
.sub-nav .sub-nav-bar .active{
    border-bottom: 2.5px solid #B5121B;
}
.sub-nav .sub-nav-bar .active a{
    display: inline-flex;
    align-items: center;
    padding: 0 1.5625em;
    color: #B5121B;
    font-size: 1.3rem;
}

.img>div>i{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 70px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

/*header*/
.header{
    width: 100%;
    border-bottom: 1px solid #ddd;
    position: sticky; top:0;
    z-index: 999;
    background-color: white;
}

.header>.a{
    width: 1200px; height: 100px;
    margin: 0 auto;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.header>.a>a{
    width: 100%;
    font-size: 17px;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 35px  20px;
}

.header>.a>a:hover{
    font-weight: bold;
    border-bottom: 4px solid #B5121B;
    color: #B5121B;
}


/*1. 신메뉴*/
.menu{
    width: 1360px; margin: 100px auto;
    position: relative;
}

.menu>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 0;
}

.menu>ul>li{
    width: calc((100% - 60px) / 4);
    text-align: center;
    padding: 20px 0 0 0;
    list-style: none;
}
.menu ul::after {
    content: "";
    width: calc((100% - 60px) / 4);
    visibility: hidden;
}

.menu>ul>li:hover .main{
    box-shadow: 5px 5px 5px rgb(74 74 74 / 24%);
}

.menu>ul>li>.main{
    width: 320px; height: 370px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.menu>ul>li>.main>figure>img{
    transform: translateY(-15%);
    width: 100%;
}

.menu>ul>li>.main>p{
    font-family: 'GmarketSansMedium';
    font-size: 18px;
    position: absolute;
    top: 77%;
}

.menu>ul>li>.main>span{
    color: #5C4033;
    font-size: 15px;
    position: absolute;
    top: 85%;
}

.menu>ul>li>.txt{
    width: 280px; height: 440px;
    position: absolute; left: 0; top:0;
    display: none;
}

.menu>ul>li>.txt.active{
    display: block;
}

.menu>ul>li>.txt>button{
    position: absolute;
    top:2%; right: 0%;
    border: none; background: none;
    
}
.slick-slide p{
    font-family: 'GmarketSansMedium';
    font-size: 15px;
}

.menu>ul>li>.txt>.txt2{
    width: 280px; height: 440px;
    padding: 30px; 
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid gray;
}

.menu>ul>li>.txt>.txt2>.title{
}

.menu>ul>li>.txt>.txt2>.title>h4{
    font-size: 18px;
}

.menu>ul>li>.txt>.txt2>.title>p{
    margin-bottom: 15px;
    color: #B5121B; 
    font-size: 15px;
}

.menu>ul>li>.txt>.txt2>.title>span{
    font-size: 12px;
    margin-bottom: 15px;
}


.menu>ul>li>.txt>.txt2>table{
    margin-top: 30px; 
    width: 100%; 
}

.menu>ul>li>.txt>.txt2>table::before{
    content: '';
    width: 80%; 
    border-bottom: 1px solid #ddd;
    position: absolute;
    margin-top: -10px;
}

.menu>ul>li>.txt>.txt2>table>tr{
    font-size: 10px;
    color: #B5121B;
    padding: 30px;
}

.menu>ul>li>.txt>.txt2>table>tbody>tr{
    font-size: 10px;
}

.menu>ul>li>.txt>.txt2>table>tbody>tr>th{
    font-size: 12px;
}

.menu>ul>li>.txt>.txt2>table>tbody>tr>td{
    font-size: 12px;
}





/*2.커피*/
/*hot*/
.hot{
    width: 1360px; margin: 0 auto;
    position: relative;
}

.hot>h3{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 25px;
    z-index: 1;
    position: absolute;
    width: 100%;
}

.hot>h3>span{
    font-family: 'GmarketSansMedium';
    background-color: white;
    font-size: 25px;
    padding: 0 30px;
}

.hot>h3::before{
    content: '';
    width: 100%; 
    border-bottom: 1px solid #A67B5B;
    margin: 5px auto;
    position: absolute;
    z-index: -1;
}

.hot>.slide{
    margin:100px auto;
    position: relative;
}

.hot>.slide>figure{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding: 50px 0;
    width: 200px;
}

.hot>.slide>figure>img{
    width: 100%;
}

.hot>.btn{
    display: flex;
    justify-content: space-between;
}

.hot>.btn>.bx-prev{
    position: absolute;
    left: 0; top:50%;
}

.hot>.btn>.bx-next{
    position: absolute;
    right: 0; top:50%;
}

.slide{
    width: 1200px;
    margin:100px auto;
    position: relative;
}

.slide .slick-list{  
    overflow:hidden;  
    text-align: center;
}
.slide .slick-track::after{
    content:'';
    display:block;
    clear: both;
}
.slide .slick-slide{
    margin:0; 
    width:100%;
    float:left;
    padding-top: 30px;
}


/* next prev */           
.slide .slick-prev {
    background-color: #fff;
    position: absolute;
    left: -7%;
    top: 50%;
    z-index: 2;
    font-size: 0;
    border: 0;
    background-image: url("../img/menu/prev.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 50px;
    height: 50px;
}

.slide .slick-next{
    background-color: #fff;
    position: absolute;
    right:-7%; top:50%;
    z-index: 2;
    font-size: 0;
    border: 0;
    background-image: url("../img/menu/next.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 50px;
    height: 50px;
}

/*search*/
.search{
    width: 1360px; margin: 0 auto;
    position: relative;
    border: 1px solid #ddd;
    padding: 50px;
    border-radius: 15px;
}

.search>h4{
    font-family: 'GmarketSansMedium';
    font-size: 18px;
    display: flex;
    align-items: center;
}
.search>h4>img{
    margin-right: 10px;
    margin-bottom: 5px;
}
.search>ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #ddd;
}

.search>ul>li{
    padding: 15px 0 0 0;
}

.search>ul>li>label{
    display: flex;
    align-items: center;
    gap: 8px; 
    cursor: pointer;
    font-size: 15px;
    margin-right: 30px;
}


input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #B5121B;
    border-color: #B5121B;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
    content: '✔';
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.menu>ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu>ul>li{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}


.menu>ul>li>.txt{
    width: 280px; height: 440px;
    position: absolute; left: 0; top:0;
    display: none;
}

.menu>ul>li>.txt.active{
    display: block;
}

.menu>ul>li>.txt>button{
    position: absolute;
    top:2%; right: 0%;
    border: none; background: none;
    
}

.menu>ul>li>.txt>.txt2{
    width: 280px; height: 440px;
    padding: 30px; 
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid gray;
}

.menu>ul>li>.txt>.txt2>.title{
}

.menu>ul>li>.txt>.txt2>.title>h4{
    font-size: 18px;
}

.menu>ul>li>.txt>.txt2>.title>p{
    margin-bottom: 15px;
    color: #B5121B; 
    font-size: 15px;
}

.menu>ul>li>.txt>.txt2>.title>span{
    font-size: 12px;
    margin-bottom: 15px;
}


.menu>ul>li>.txt>.txt2>table{
    margin-top: 30px; 
    width: 100%; 
}

.menu>ul>li>.txt>.txt2>table::before{
    content: '';
    width: 80%; 
    border-bottom: 1px solid #ddd;
    position: absolute;
    margin-top: -10px;
}

.menu>ul>li>.txt>.txt2>table>tr{
    font-size: 10px;
    color: #B5121B;
    padding: 30px;
}

.menu>ul>li>.txt>.txt2>table>tbody>tr{
    font-size: 10px;
}

.menu>ul>li>.txt>.txt2>table>tbody>tr>th{
    font-size: 12px;
}

.menu>ul>li>.txt>.txt2>table>tbody>tr>td{
    font-size: 12px;
}

/*top*/
.top > a{
    display:scroll;
    position:fixed;
    bottom:50px; right:50px;
    transition: 2s;
    font-size: 0;
    background-image: url("../img/bi_arrow-up-circle-fill.png");
    width: 50px; height: 50px;
}
/*top*/
.top > a{
    display:scroll;
    position:fixed;
    bottom:50px; right:50px;
    transition: 2s;
    font-size: 0;
    background-image: url("../img/bi_arrow-up-circle-fill.png");
    width: 50px; height: 50px;
}


