@charset "utf-8";
@import url('./common.css');

.img{
    position: relative;
    margin-top: 90px;
}
.img > p >img {
    width: 100%;
}
.img>div{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img>div>h1{
    font-family: 'GmarketSansBold';
    font-weight: 900;
    font-size: 70px;
    color: #fff;
    margin: 0;
}
.img>div>p{
    font-size: 18px;
    font-weight: 100;
    color: #fff;
}

/*sub-nav*/
.sub-nav{
    height: 4.25rem;
}
.sub-nav .sub-nav-bar{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.sub-nav .sub-nav-bar li {
    height: 100%;
}
.sub-nav .sub-nav-bar li a{
    display: inline-flex;
    align-items: center;
    padding: 0.5em 2em;
    color: #333;
    font-size: 1.3rem;
    height: 100%;
}
.sub-nav .sub-nav-bar .active{
    border-bottom: 2.5px solid #B5121B;
}
.sub-nav .sub-nav-bar .active a{
    display: inline-flex;
    align-items: center;
    padding: 0 1.5625em;
    color: #B5121B;
    font-size: 1.3rem;
}

.img>div>i{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 70px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}


/*icon*/
.icon-1{
    width: 1360px;
    margin: 100px auto;
}
.icon-1 .main h1{
    display: block;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: #5C4033;
    margin: 0;
    font-family: 'GmarketSansBold';
}
.icon-1 .main p{
    margin: 0;
    padding: 10px;
    font-weight: 400;
}

.icon-1>h1>span{
    font-size: 70px;
    display: flex;
    font-family: 'Gowun Dodum', sans-serif;
    color:#B5121B;
}

.icon-1>ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    margin: 150px 0;
}

.icon-1>ul>li{
    width: 30%;
    padding-bottom: 150px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.icon-1>ul>li>figure{
    width: 170px; height: 170px;
    margin-bottom: 20px;

    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-1>ul>li>p{
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    line-height: 28px;
}
.icon-1>ul>li>p>.nm{
    font-family: 'GmarketSansBold';
    font-size: 32px;
    color: #B5121B;
}
.icon-1>ul>li>.txt{
    font-size: 15px;
    margin-top: 20px;
    line-height: 20px;
}

/*process*/
.process{
    width: 1360px;
    margin: 100px auto;
}
.process .main h1{
    display: block;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: #5C4033;
    margin: 0;
    font-family: 'GmarketSansBold';
}

.process>.detail>ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px 0;
}

.process>.detail>ul>li{
    width: 15%;
    padding-bottom: 50px;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.process>.detail>ul>li:nth-last-of-type(1){
    margin-right:  auto;
}

.process>.detail>ul>li:nth-last-of-type(2),
.process>.detail>ul>li:nth-last-of-type(3),
.process>.detail>ul>li:nth-last-of-type(4){
    margin-right:24px;
}


.process>.detail>ul>li:nth-of-type(2)::after,
.process>.detail>ul>li:nth-of-type(3)::after,
.process>.detail>ul>li:nth-of-type(4)::after,
.process>.detail>ul>li:nth-of-type(5)::after,
.process>.detail>ul>li:nth-of-type(6)::after,
.process>.detail>ul>li:nth-of-type(14)::after,
.process>.detail>ul>li:nth-of-type(15)::after,
.process>.detail>ul>li:nth-of-type(16)::after{
    content: '→';
    position:absolute;
    left:-10%; top:20%;
    color: #5C4033;
}

.process>.detail>ul>li:nth-of-type(7)::before,
.process>.detail>ul>li:nth-of-type(8)::before,
.process>.detail>ul>li:nth-of-type(9)::before,
.process>.detail>ul>li:nth-of-type(10)::before,
.process>.detail>ul>li:nth-of-type(11)::before
{
    content: '←';
    position:absolute;
    right:-10%; top:20%;
    color: #5C4033;
}

.process>.detail>ul>li:nth-of-type(12)::before,
.process>.detail>ul>li:nth-of-type(13)::before{
    content: '↓';
    position: absolute;
    left:47%; top:-20%;
    color: #5C4033;
}


.process>.detail>ul>li>figure{
    width: 88px; height: 88px;
    border-radius: 100px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgb(74 74 74 / 24%);
}

.process>.detail>ul>li>p{
    font-family: 'GmarketSansMedium';
    font-size: 18px;
    color: #B5121B;
    font-weight: bold;
}
.process>.detail>ul>li>span{
    font-size: 15px;
    line-height: -.5px;
}


/*condicion*/
.condition{
    width: 1360px;
    margin: 200px auto;
}
.condition .main h1{
    display: block;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: #5C4033;
    margin: 0;
    font-family: 'GmarketSansBold';
}


.condition>h1>span{
    font-size: 70px;
    display: flex;
    font-family: 'Gowun Dodum', sans-serif;
    color:#B5121B;
}


.condition>.visual{
    width:680px; height:680px;
    padding:90px;
    border:1px solid #B5121B;
    margin:0 auto;
    border-radius: 100%;
    position: relative;
    margin-top: 100px;
}

.condition>.visual>.icon{
    position: absolute;
    left:calc(50% - 45px); top:calc(50% - 45px);
    
}
.condition>.visual>.icon span{
    font-size: 15px;
}
.condition .visual .icon>p:nth-child(1),
.condition .visual .icon>p:nth-child(3){
    position: absolute;
    left: 0%; top:0%;
    display: flex;
    width: 100%;
}

.condition .visual .icon>p:nth-child(2)>span{
    transform: translateX(-210%);
    text-align: right;
}

.condition .visual .icon>p:nth-child(4)>span{
    transform: translateX(-190%);
    text-align: right;
}

.condition .visual .icon>p:nth-child(2),
.condition .visual .icon>p:nth-child(4){
    position: absolute;
    left: 0%; top:0%;
    display: flex;
    align-items: center;
    width: 100%;
}

.condition .visual .icon>p>img,
.condition .visual .icon>p>span{
    flex-shrink: 0;
}

.condition .visual .icon>p>span{
    margin: 0 30px;
}

.condition .visual .icon>p>span{white-space: pre-line;}
.condition .visual .icon>p:nth-child(1){
    transform: translate(250px,-250px);
}
.condition .visual .icon>p:nth-child(2){
    transform: translate(-250px,-250px);
}
.condition .visual .icon>p:nth-child(3){
    transform: translate(250px,250px);
}
.condition .visual .icon>p:nth-child(4){
    transform: translate(-250px,250px);
}

.condition .visual .icon>p>span>b{
    font-family: 'GmarketSansMedium';
    font-size: 18px;
    color: #B5121B;
}


/*advice*/
.advice{
    width: 1360px;
    margin: 100px auto;
}
.advice .main h1{
    display: block;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: #5C4033;
    margin: 0;
    font-family: 'GmarketSansBold';
}
.advice .f_wrap{
    width: 740px;
    margin: 0 auto;
    margin-top: 100px;
}
.advice .f_wrap ul{
    padding-bottom: 50px;
    border-bottom: 1px solid #ececec;
}
.advice .f_wrap ul li{
    position: relative;
    padding-left: 148px;
    margin-bottom: 16px; 
}
.advice .f_wrap ul li label{
    position: absolute;
    left: 0;
    display: block;
    line-height: 54px;
    color: #111;  
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.5px;
}
.advice .f_wrap ul li .d_wr *{
    width: 100%;
    height: 54px;
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: -0.5px;
    font-weight: 500;
    color: #7d7774;
    padding-left: 18px;
}
.advice .f_wrap .chk_w{
    text-align: center;
    padding-top: 25px;
}
.advice .f_wrap .chk_w > .chk{
    position: relative;  
}
.advice .f_wrap .chk_w > *{
    display: inline-block;
    vertical-align: middle;
}
.advice .f_wrap .chk_w > .chk:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
}
.advice .f_wrap .chk_w p{
    font-size: 14px;
    letter-spacing: -0.5px;
    color: #8e7c70;
    margin-left: 5px;
}
.advice .f_wrap .chk_w p a{
    color: #a57454;
    font-weight: 500; 
}
.advice .f_wrap ul li .d_wr textarea{
    height: 175px;
    padding-top: 17px;
}
.advice .f_wrap ul li .d_wr *{
    width: 100%;
    height: 54px;
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: -0.5px;
    font-weight: 500;
    color: #7d7774;
    padding-left: 18px;
}
.advice .f_wrap .inq_btn a{
    display: block;
    width: 100%;
    line-height: 82px;
    background: #5C4033;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    border-radius: 20px;
    transition: 1s;
    box-shadow: 0 0 0 0px rgba(51, 35, 23, 0.15);
}


/*top*/
.top > a{
    display:scroll;
    position:fixed;
    bottom:50px; right:50px;
    transition: 2s;
    font-size: 0;
    background-image: url("../img/bi_arrow-up-circle-fill.png");
    width: 50px; height: 50px;
}

